@charset "UTF-8";
.btn_modif {
  float: right;
  cursor: pointer;
}

.btn_modif, .inscr-btn {
  font-size: 20px;
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
  margin-right: 0;
  font-family: "Oswald", sans-serif;
}

.btn_modif a, .inscr-btn a {
  color: white;
}

.btn_modif .inscr-btn:hover, .inscr-btn .inscr-btn:hover {
  color: gray;
  border-color: gray;
}

.liste_deroulante {
  font-size: 24px;
  margin: 0;
  color: #212529;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 25px;
}

.btn-primary {
  color: #fff;
  background-color: #800000;
  border-color: #800000;
}

.btn-primary:hover {
  color: #fff;
  background-color: grey;
  /* border-color: #0062cc; */
}

.blog-time {
  background: #fcfcfc;
  background: linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
}

.maj .btn-primary {
  display: block;
  margin: auto;
}

.deleteadh {
  padding: 5px 0px;
  height: 34px;
  display: block;
  size: 10px;
}

.deleatadh_get {
  background-color: darkblue;
  padding: 5px 0px;
  height: 34px;
  display: block;
  size: 10px;
  text-align: center;
}

.form-check {
  margin: 20px 0;
}

.form-check label {
  display: block;
  margin-bottom: .5rem;
}

input {
  margin: 22px 0;
}

.booking-form .submit-btn {
  height: 40px;
}

.table .primary-btn {
  padding: 0px;
}

.accueilpage {
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
}

.accueilpage .centered {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accueilpage .center-top {
  position: absolute;
  top: 9%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.accueilpage .center-top img {
  border-radius: 8%;
}

.accueilpage .mcmp {
  width: max-content;
  height: auto;
  padding: 0;
  margin: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accueilpage .mcmp h2 {
  color: #800000;
  font-size: 60px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.accueilpage .mcmp h2 span {
  transition: .5s linear;
}

.accueilpage .mcmp h2:hover span:nth-child(1) {
  margin-right: 5px;
}

.accueilpage .mcmp h2:hover span:nth-child(2) {
  margin-left: 30px;
}

.accueilpage .mcmp h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.accueilpage .image #fondecran {
  /* Fixe l'image en haut à gauche de la page */
  position: fixed;
  top: 0;
  left: 0;
  /* Préserve le ratio de l'image */
  min-width: 100%;
  min-height: 100%;
}

#single_news h4 {
  font-size: 20px;
  color: #800000;
}

#single_news .single-blog-item.blog-item:hover {
  box-shadow: 1px 0px 20px 0px #800000;
}

#single_news .single-blog-item.blog-item {
  min-height: 300px;
  height: 450px;
}

#single_news .single-blog-item.blog-item .blog .single-blog-item.blog-item .blog-text {
  position: relative;
  padding: 16px;
  height: calc(330px - 169px);
}

#single_news .single-blog-item.blog-item .blog-text span.blog-time {
  display: inline-block;
  font-size: 16px;
  color: #858585;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

#single_news .single-blog-item.blog-item .blog-text .blog-widget {
  position: absolute;
  bottom: 0px;
  display: none;
}

#activite {
  width: 350px;
  height: 470px;
}

.single-blog-item.blog-item:hover {
  box-shadow: 1px 0px 20px 0px #800000;
}

.single-blog-item.blog-item .blog-img img {
  width: 100%;
  height: 300px;
}

#single_act {
  justify-content: center;
}

header .slicknav_nav {
  background: white;
}

header .slicknav_nav a {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #800000;
  text-transform: uppercase;
  padding: 36px 20px;
  position: relative;
  z-index: 1;
}

a {
  text-transform: uppercase;
}

.carousel-item {
  height: 500px;
}

.inner-header {
  padding-top: 22px;
}

.inner-header .primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 19px;
  color: #ffffff;
  background: var(--primary-color);
  letter-spacing: 0.5px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.inner-header .logo {
  padding: 16px 0;
  -webkit-font-smoothing: antialiased;
  image-rendering: optimizespeed;
  width: 130px;
  height: 100%;
}

.inner-header .active a {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.inner-header .active li:active {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .hero-section .hero-text h1 {
    font-size: 25px;
    text-align: right;
    text-transform: uppercase;
  }
  .hero-section .hero-text h2 {
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
  }
  .section-title h2 {
    font-size: 20px;
  }
  .inner-header .main-menu {
    display: none;
  }
  .slicknav_menu .slicknav_btn {
    top: 15px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1240px) {
  .hero-section .hero-text h1 {
    font-size: 35px;
    text-align: right;
    text-transform: uppercase;
  }
  .hero-section .hero-text h2 {
    font-size: 30px;
    text-align: right;
    text-transform: uppercase;
  }
  .section-title h2 {
    font-size: 30px;
  }
}

.onefile {
  box-shadow: 1px 0px 20px 0px #800000;
}

.filesupload h3 {
  padding: 40px 0px;
  text-transform: none;
}

.filesupload h2 {
  font-size: 18px;
  text-transform: none;
}

.filesupload p {
  text-transform: none;
  text-align: left;
  font-size: 16px;
}

.filesupload .openFiles span, .filesupload .downloadFiles span {
  visibility: hidden;
}

.filesupload .openFiles:hover span, .filesupload .downloadFiles:hover span {
  visibility: visible;
  font-size: 10px;
}

.iconFiles img {
  height: 49px;
  width: 82px !important;
}

.footer-section {
  background-color: black;
}

.footer-section .reserved {
  opacity: 100%;
  font-size: 19px;
  text-align: center;
  float: none;
}

.footer-section .reserved p {
  color: #858585;
  font-size: 15px;
}

.footer-section .reserved li {
  display: inline;
}

.footer-section .reserved a {
  text-transform: uppercase;
  padding: 6px 7px;
  color: #800000;
  font-size: 14px;
}

.footer-section .social-links a {
  font-size: 30px;
  color: #858585;
}

.footer-section .menu2 a {
  color: #858585;
}

.footer-section .menu2 a:hover {
  color: var(--primary-color);
}

.booking-form h4 {
  text-align: center;
  padding-bottom: 30px;
  color: var(--primary-color);
}

.booking-form .submit-btn {
  font-size: 20px;
  margin: auto;
  display: block;
  width: 100%;
}

.booking-form label {
  font-weight: bolder;
}

.booking-form input {
  height: 22px;
}

.booking-form .form-check-label {
  font-weight: normal;
}

#upload-img-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#upload-img-wrapper img {
  position: relative;
  height: auto;
}

#upload-img-wrapper span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 48px;
  color: whitesmoke;
  user-select: none;
}

#upload-img-wrapper:hover span {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.presentationAccueil {
  height: 330px;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.presentationAccueil .centered {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentationAccueil .center-top {
  position: absolute;
  top: 9%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.presentationAccueil .center-top img {
  border-radius: 8%;
}

.presentationAccueil .mcmp {
  height: 67px;
  padding: 12px;
  margin: 0px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-bottom: 30px;
}

.presentationAccueil .mcmp h2 {
  color: #800000;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.presentationAccueil .mcmp h2 span {
  transition: .5s linear;
}

.presentationAccueil .mcmp h2:hover span:nth-child(1) {
  margin-right: 5px;
}

.presentationAccueil .mcmp h2:hover span:nth-child(2) {
  margin-left: 30px;
}

.presentationAccueil .mcmp h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

#activite {
  width: 350px;
  height: 470px;
}

.single-blog-item.blog-item:hover {
  box-shadow: 1px 0px 20px 0px #800000;
}

.single-blog-item.blog-item .blog-img img {
  width: 100%;
  height: 300px;
}

#single_act {
  justify-content: center;
}

.boxes-section .overlayMoto {
  padding: 20px;
  position: relative;
  width: 50%;
}

.boxes-section .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.boxes-section .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.boxes-section .overlayMoto:hover .image {
  opacity: 0.3;
}

.boxes-section .overlayMoto:hover .middle {
  opacity: 1;
}

.boxes-section .text {
  background-color: #800000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.gallery-section {
  padding-bottom: 70px;
  padding-top: 10px;
}

.gallery-section .blog-section {
  padding: 0px 0px 30px 0px;
}

.gallery-controls {
  text-align: center;
  margin-bottom: 45px;
}

.gallery-controls ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #800000;
  display: inline-block;
  margin-right: 45px;
  cursor: pointer;
  position: relative;
}

.gallery-controls ul li.active {
  color: #800000;
}

.gallery-controls ul li.active:after {
  opacity: 1;
}

.gallery-controls ul li:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background: #7D2719;
  content: "";
  opacity: 0;
}

.gallery-controls ul li:last-child {
  margin-right: 0;
}

.gallery-item {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.gallery-item:hover:after,
.gallery-item:hover:before {
  opacity: 1;
}

.gallery-item:hover .gi-hover {
  opacity: 1;
  visibility: visible;
}

.gallery-item:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #e4381C;
  content: "";
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery-item .gi-hover-warp {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9;
}

.gallery-item .gi-hover {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery-item .gi-hover a {
  height: 60px;
  width: 60px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  display: inline-block;
  color: #ffffff;
}

.gallery-item .gi-hover a:first-child {
  margin-right: 15px;
}

.gallery-item .gi-hover h6 {
  color: #ffffff;
  margin-top: 25px;
}

.gi-hover-warp h4 {
  padding-top: 30px;
  color: whitesmoke;
  text-transform: uppercase;
}

.gallery-item .gi-hover h6 span {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 7px;
  display: block;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.gallery-item img {
  height: 400px;
  width: 347px;
}

.about-us-section .about-img img {
  max-width: 70%;
  max-height: 70%;
}

.hero-section {
  height: 315px;
}

.hero-section h1 {
  width: 100%;
  text-shadow: 8px 8px 8px var(--primary-color);
  color: wheat;
  opacity: inherit;
  float: right;
  font-family: "Oswald", sans-serif;
}

.single-hero-item {
  height: 760px;
}

.single-hero-item h2 {
  font-size: 80px;
  padding-bottom: 60px;
  color: whitesmoke;
  text-shadow: 5px 11px 9px #800000;
}

.owl-nav {
  display: none;
}

.team-member {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white;
  background-color: #fff;
  margin: 15px 0;
  padding: 0;
}

.team-member span {
  color: black;
  font-weight: bolder;
}

.team-member h4 {
  text-align: center;
  color: #800000;
}

.team-member img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 387px;
}

.team-member ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: visible;
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  -o-transition: all 0.18s ease-in-out;
  transition: all 0.18s ease-in-out;
}

.team-member ul li {
  display: inline;
  padding: 10px;
}

.team-member .nameMember {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 0;
  padding: 0;
}

.team-member .nameMember a {
  color: #800000;
  font-weight: bolder;
  padding-bottom: 8px;
}

p {
  font-size: 16px;
}

a:hover {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.text-center {
  font-weight: bold;
  text-align: center;
  color: #800000;
  text-transform: uppercase;
}

.recup li {
  color: black;
  display: block;
}

figure:hover {
  box-shadow: 1px 0px 20px 0px #800000;
}

.maj_profil .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maj_profil .card {
  padding-bottom: 100px;
}

.maj_profil .card .photoprofil {
  padding-bottom: 100px;
  padding-top: 20px;
}

.maj_profil .card .photoprofil img {
  border-radius: 95%;
  width: 270px;
  height: 370px;
}

.maj_profil .card p {
  padding-left: 19px;
  font-size: 18px;
  color: #800000;
  font-family: "PT Sans", sans-serif;
  line-height: 28px;
  margin: 0 0 15px 0;
}

.maj_profil .card p span {
  color: black;
  font-weight: bolder;
}

.dark-wrapper {
  background-color: #111111;
}

.dark-wrapper.opaqued,
.dark-opaqued {
  background-color: rgba(0, 0, 0, 0.7);
}

.dark-wrapper.dark-grey-wrapper.opaqued,
.dark-wrapper.dark-grey-opaqued {
  background-color: rgba(0, 0, 0, 0.8);
}

#headerwrap.opaqued {
  background-color: rgba(68, 34, 69, 0.9);
}

.remove-opacqued-bg .dark-opaqued {
  background-color: transparent;
}

.dark-wrapper h1,
.dark-wrapper h2,
.dark-wrapper h3,
.dark-wrapper h4,
.dark-wrapper h5,
.dark-wrapper h6,
.dark-wrapper p,
.dark-wrapper a,
.dark-wrapper,
.dark-wrapper * {
  color: #f3f3f3;
}

.dark-content h1,
.dark-content h2,
.dark-content h3,
.dark-content h4,
.dark-content h5,
.dark-content h6,
.dark-content p,
.dark-content a,
.dark-content,
.dark-content * {
  color: #222;
}

.section-inner {
  padding: 120px 0;
}

.contact-section-inner {
  padding: 200px 0 120px;
}

section h2.section-heading,
.section-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 42px;
  letter-spacing: 8px;
  font-weight: 700;
}

section h3.section-subheading {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 400;
  clear: both;
  display: block;
  padding-top: 0;
  font-style: italic;
  margin: 0;
  position: relative;
}

.classes-section h3 {
  color: black;
  padding-bottom: 20px;
}

.classes-section h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.classes-section p {
  text-transform: lowercase;
}

.classes-section .single-classes-item {
  border: whitesmoke 2px solid;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 54px;
  width: 200px;
}

.modal-content {
  background: whitesmoke;
}

.modal-content .modal-header {
  border: none;
}

.modal-content .modal-header h5 {
  text-align: center;
  text-decoration: underline;
  color: #800000;
  font-size: 30px;
}

.modal-content .modal-header .close {
  color: #800000;
  font-size: 2.5rem;
  opacity: 100%;
}

.modal-content .modal-body p {
  text-align: center;
  color: #800000;
  font-size: 20px;
  font-weight: bolder;
}

.modal-content .modal-footer {
  border: none;
}

.modal-content .modal-footer .btn {
  color: whitesmoke;
  background-color: #800000;
  font-weight: bolder;
}

.dropdown-menu {
  height: 500px;
  overflow-y: auto;
}

.partenaires {
  min-height: 62vh;
  display: flex;
  align-items: center;
  background-color: wheat;
}

.partenaires h2 {
  padding: 20px;
  text-transform: none;
}

.partenaires h3 {
  text-transform: none;
  font-size: 25px;
  font-style: italic;
}

.partenaires .slick-slide img {
  width: 100%;
  height: 150px;
  display: block;
}

.partenaires #demo {
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 800px;
  margin: auto;
}

.partenaires .single-blog-item.plain-text {
  background: none;
  padding-top: 0;
}

.partenaires .carousel-item {
  height: max-content;
}

.partenaires .carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .partenaires .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
  }
}

.partenaires .carousel-caption img {
  width: 10rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .partenaires .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

.partenaires #image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .partenaires #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

.partenaires i {
  background-color: #800000;
  padding: 1.4rem;
}

@media (max-width: 767px) {
  .partenaires i {
    padding: 0.8rem;
  }
}

.partenaires .carousel-control-prev {
  justify-content: flex-start;
}

.partenaires .carousel-control-next {
  justify-content: flex-end;
}

.partenaires .carousel-control-prev,
.partenaires .carousel-control-next {
  transition: none;
  opacity: unset;
}

.booking-form {
  box-shadow: 8px 8px 12px #aaa;
  background-color: #F3F4FF;
  margin: 50px auto;
  height: max-content;
}

#connexion h4 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
}

h1, h2, h3, h4, h5 {
  text-transform: none;
}

h5 {
  margin-top: 22px;
}

#my-modal {
  background: rgba(0, 0, 0, 0.5);
}

.our-team {
  text-align: center;
  position: relative;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 12px #aaa;
  background-color: whitesmoke;
}

.our-team h3 a {
  text-shadow: 8px 8px 8px var(--primary-color);
  color: wheat;
}

.our-team img {
  max-height: 30%;
  border-radius: 50%;
}

.our-team .content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
  border-radius: 50%;
}

.our-team:hover .content,
.our-team.active .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}

.our-team .content .title {
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.our-team .content .post {
  margin: 0 0 25px;
  display: block;
  font-size: 15px;
}

.our-team .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: #F32248;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}

.our-team .social li a:hover, .our-team.active .social li a {
  border-radius: 50%;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

.boxes-section .boxes-item {
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  padding-bottom: 36px 0px;
  padding: 36px 0px;
}

.boxes-section .boxes-item h2 {
  font-size: 36px;
  font-weight: bolder;
  /* text-shadow: 8px 8px 8px #800000; */
  color: #800000;
  /* opacity: inherit; */
  float: left;
  font-family: "Oswald", sans-serif;
}

.map {
  padding: 0px;
  border: none;
}

.map #openmap {
  height: 380px;
  width: 800px;
  display: block;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

.forminscr {
  display: block;
}
