
.btn_modif{
  float: right;
  cursor: pointer;
}
.btn_modif , .inscr-btn{
  font-size: 20px;
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
  margin-right: 0;
  font-family: "Oswald", sans-serif;
  a{color: white;
  }
  .inscr-btn:hover{
    color: gray;
    border-color: gray;

  }

}

.liste_deroulante {
  font-size: 24px;
  margin: 0;
  color: #212529;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-bottom: 25px;
}
.btn-primary {
  color: #fff;
  background-color: $color1;
  border-color: $color1;
}
.btn-primary:hover {
  color: #fff;
  background-color: grey;
  /* border-color: #0062cc; */
}

.blog-time{

  background: #fcfcfc;
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
}
.maj{
  .btn-primary {
    display: block;
    margin: auto;
  }

}
.deleteadh {

  padding: 5px 0px;
  height: 34px;
  display: block;
  size: 10px;

}
.deleatadh_get{
  background-color: darkblue;
  padding: 5px 0px;
  height: 34px;
  display: block;
  size: 10px;
  text-align: center;

}
.form-check {
  margin: 20px 0;

  label {
    display: block;
    margin-bottom: .5rem;
  }
}

input{
  margin: 22px 0;
}

.booking-form .submit-btn {
  height: 40px;

}
.table{
  .primary-btn{
    padding: 0px;
  }
}
#simplenews{

  .primary-btn {
    height: 30px;
    background-color: #800000;
    padding: 3px 7px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 11px;

    float: right;
  }
}