@import "compass";

$pm: 15px;
$hc: 100px;

$color1: #800000;
$color2: #ffffff;
$color3:rgba(100, 99, 100, 0.5);
$color4: #972aee;



@import 'button';
@import 'header';
@import 'query';
@import 'footer';
@import 'register';
@import 'wysiwyg';
@import 'gallerie';
@import 'hero-section';
@import 'single_blog';
@import 'modal';
@import 'connexion';