@import "compass";

$pm: 15px;
$hc: 100px;

$color1:rgba(156, 125, 240, 0.9);
$color2:#000000;
$color3:rgba(100, 99, 100, 0.5);
$color4: #972aee;




@import 'header';
@import 'query';
@import 'footer';
@import 'register';
@import 'wysiwyg';
