#connexion{
  .booking-form{
  box-shadow: 8px 8px 12px #aaa;
  background-color: whitesmoke;
  margin: 50px auto;
}
  h4{
    margin-bottom: 30px;
    text-align: center;
    font-weight: bolder;
  }
}