.hero-section{
    height: 315px;
    h1{
        width: 100%;

        text-shadow:8px 8px 8px var(--primary-color) ;
        color: wheat;
        opacity: inherit;
        float: right;
        font-family: "Oswald", sans-serif;

    }

}
.single-hero-item {
    height: 760px;
h2{
    font-size: 80px
;
    padding-bottom: 60px;
    color: whitesmoke;

    text-shadow: 5px 11px 9px $color1;
}


}
.owl-nav{
    display: none;
}