.hero-section{
    height: 315px;
    h1{
        width: 100%;

        text-shadow:8px 8px 8px var(--primary-color) ;
        color: wheat;
        opacity: inherit;
        float: right;
        font-family: "Oswald", sans-serif;

    }

}