
  .footer-section{
  background-color: black;
    .reserved{
      opacity: 100%;
      font-size: 19px;
      text-align: center;
float: none;
    }
    .social-links{
      a{
        font-size: 30px;
      }
    }
}
