
  .footer-section{
  background-color: black;
    .reserved{
      opacity: 100%;
      font-size: 19px;
      text-align: center;
      float: none;
      p{
        color: #858585;
        font-size: 15px;

      }
      li{
        display: inline;}
      a{

        text-transform: uppercase;
        padding: 6px 7px;
        color: $color1;
        font-size: 14px;
    }
    }
    .social-links{
      a{
        font-size: 30px;
        color: #858585;
      }

    }
    .menu2{
      a{
      color: #858585;
    }
      a:hover{
        color: var(--primary-color);
      }
    }
}
