
  .footer-section{
  background-color: black;
    .reserved{
      opacity: 100%;
      font-size: 19px;
      text-align: center;
      float: none;
      p{
        color: #858585;
        font-size: 15px;

      }
      li{
        display: inline;}
      a{

        text-transform: uppercase;
        padding: 6px 7px;
        color: #858585;
        font-size: 14px;
    }
      a:hover{
        color: $color1;
      }
    }
    .social-links{
      a{
        font-size: 30px;
        color: #858585;
      }

    }
    .menu2{
      a{
      color: #858585;
    }
      a:hover{
        color: var(--primary-color);
      }
    }


  }
.piedPage {
  .mcmp {


    height: 67px;
    padding: 12px;
    margin: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    margin-bottom: 30px;


    h2 {
      color: $color1;
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      letter-spacing: 7px;
      cursor: pointer
    }

    h2 span {
      transition: .5s linear
    }

    h2:hover span:nth-child(1) {
      margin-right: 5px
    }


    h2:hover span:nth-child(2) {
      margin-left: 30px
    }

    h2:hover span {
      color: #fff;
      text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff;
    }
  }
}

.meteo{
  border: 5px solid black;

}