header {
  .slicknav_nav{
    background: white;

    a{
      font-size: 15px;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      color: $color1;
      text-transform: uppercase;
      padding: 36px 20px;
      position: relative;
      z-index: 1;
    }

  }
}

a {
  text-transform: uppercase;


}
.carousel-item{
  height: 500px ;
}
.hero-slider{
}
.inner-header{
  padding-top: 22px;
  .primary-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 19px;
    color: #ffffff;
    background: var(--primary-color);
    letter-spacing: 0.5px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;}
  .logo {
    padding: 16px 0;
    -webkit-font-smoothing: antialiased;
    image-rendering: optimizespeed;
    width: 130px;
    height: 100%;
  }

  .active{
    a {
      font-size: 15px;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      color: white;
      text-transform: uppercase;

      position: relative;
      z-index: 1;}


    li:active{
      color:blue;
    }
  }
}

a:hover {
  text-decoration: underline;

}
