

  .booking-form {

    h4{
      text-align: center;
      padding-bottom: 30px;
      color: var(--primary-color);
    }
    .submit-btn{
      font-size: 20px;
      margin: auto;
      display: block;
      width: 100%;

    }label{
    font-weight: bolder;

         }
    input{
      height: 22px;
    }
    .form-check-label{
      font-weight: normal;

    }
  }
 #upload-img-wrapper {
   position: relative;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 150px;
   img{
     position: relative ;

     height: auto;
   }
   span {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     opacity: 0;
     position: absolute;
     width: 100%;
     height: 100%;
     font-size: 48px;
     color: whitesmoke;
     user-select: none;
   }
   &:hover {
     span {
       opacity: 1;
       background-color: rgba(0,0,0,0.5);
     }
   }
 }


