#single_news{
  h4 {
    font-size: 20px;
    color: $color1;


  }
  .single-blog-item.blog-item:hover{
    box-shadow: 1px 0px 20px 0px $color1;
  }
  .single-blog-item.blog-item {
    min-height: 300px;
    height: 350px;

    .blog-img{
      img{
        height: 182px;
      }
      .single-blog-item.blog-item .blog-text {
        position: relative;
        padding: 16px;
        height: calc(330px - 169px);
      }

    }
    .blog-text{
       span.blog-time {
        display: inline-block;
        font-size: 16px;
        color: #858585;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        margin-bottom: 0;



      }

      .blog-widget{
        position: absolute;
        bottom: 0px;
        display: none;
      }
    }
  }
}
<<<<<<< HEAD

=======
#activite{
width: 350px;
height: 400px;}
.single-blog-item.blog-item:hover{
  box-shadow: 1px 0px 20px 0px $color1;
}
>>>>>>> 1c4311c775cabe9ba721bda1c5d4b5b89e6385eb
