@import 'config';

#my-modal{
  background: rgba(0,0,0,0.5);
}

  .our-team {
    text-align: center;
    position: relative;
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 12px #aaa;
    background-color: whitesmoke;
  h3{a{
    text-shadow: 8px 8px 8px var(--primary-color);
    color: wheat;
  }
  }
  }
  .our-team img{


      max-height: 30%;
      border-radius: 50%;

  }
  .our-team .content{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 45%;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    opacity: 0;
    border-radius: 50%;
  }
  .our-team:hover .content,
  .our-team.active .content{
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
  .our-team .content .title{
    margin: 0 0 10px;
    display: block;
    font-size: 25px;
    font-weight: 600;
  }
  .our-team .content .post{
    margin: 0 0 25px;
    display: block;
    font-size: 15px
  }
  .our-team .social{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .our-team .social li{
    display: inline-block;
  }
  .our-team .social li a{
    display: block;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 0;
    background-color: #F32248;
    margin-right: 5px;
    transition: all 0.5s ease 0s;
    position: relative;
  }
  .our-team .social li a:hover, .our-team.active .social li a{
    border-radius: 50%;
    text-decoration: none;
  }
  @media screen and (max-width: 990px){
    .our-team{
      margin-bottom: 30px;
    }
  }
.boxes-section{
  .boxes-item {
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    padding-bottom: 36px 0px;
    padding: 36px 0px;

  h2{
    font-size: 36px;
    font-weight: bolder;
    /* text-shadow: 8px 8px 8px #800000; */
    color: #800000;
    /* opacity: inherit; */
    float: left;
    font-family: "Oswald", sans-serif;
  }
  }
}
